In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv

In [6]:
test_feb_output_file_path = "PROJECT_PATH/FastText_Rec/data/checkin2011/checkin2011/test_feb_user_2_list_of_visits.csv"

user_2_list_of_visits_seq = {}
user_2_list_of_visits_single = {}
with open(test_feb_output_file_path, "rb") as f:
    reader = csv.reader(f, delimiter='\t', quoting = csv.QUOTE_NONE)
    for row in reader:
        # remove [, ]
        updated_row = [value.replace("[", "") for value in row]
        updated_row = [value.replace("]", "") for value in updated_row]
        # use _ as the separator
        updated_row = [value.replace(", ", "_") for value in updated_row]
        
        user_id = updated_row[0]
        list_of_visits_seq = updated_row[1:]
        user_2_list_of_visits_seq[user_id] = list_of_visits_seq
        
        list_of_visits_single = []
        for visit_seq in list_of_visits_seq:
            items = visit_seq.split('_')
            list_of_visits_single.extend(items)
        user_2_list_of_visits_single[user_id]= list_of_visits_single
        
        #print user_2_list_of_visits_seq
        #print user_2_list_of_visits_single
        #break

In [7]:
stop

NameError: name 'stop' is not defined

In [8]:
rec_seq_output_folder = "PROJECT_PATH/FastText_Rec/output/seq_of_loc_rec/"
rec_seq_output_file_path = rec_seq_output_folder + "fasttext_contentbased_rec_CBow_VS=10_MaxN=5"

user_2_rec_seq = {}
user_2_rec_seq_to_single_list = {}
user_2_rec_seq_to_single = {}
with open(rec_seq_output_file_path, "rb") as f:
    reader = csv.reader(f, delimiter=',')#, quotechar = "'"
    for row in reader:
        # remove ' and space
        updated_row = [value.replace("'", "") for value in row]
        updated_row = [value.replace(" ", "") for value in updated_row]
        # remove [, ]
        updated_row = [value.replace("[", "") for value in updated_row]
        updated_row = [value.replace("]", "") for value in updated_row]
        
        user_id = updated_row[0]
        rec_seq_output = updated_row[1:]
        user_2_rec_seq[user_id] = rec_seq_output
        
        rec_seq_to_single_output = []
        rec_seq_to_single_list_output = []
        for rec_seq in rec_seq_output:
            items = rec_seq.split('_')
            rec_seq_to_single_output.extend(items)
            rec_seq_to_single_list_output.append(items)
        user_2_rec_seq_to_single[user_id]= rec_seq_to_single_output
        user_2_rec_seq_to_single_list[user_id]= rec_seq_to_single_list_output
        
#         print row
#         print user_2_rec_seq
#         print user_2_rec_seq_to_single_list
#         print user_2_rec_seq_to_single
#         break

In [ ]:
stop

In [9]:
print user_2_list_of_visits_seq.keys() == user_2_list_of_visits_single.keys()
print user_2_rec_seq.keys() == user_2_rec_seq_to_single.keys()
print user_2_rec_seq.keys() == user_2_rec_seq_to_single_list.keys()
print user_2_rec_seq.keys() == user_2_list_of_visits_seq.keys()
print len(list(set(user_2_rec_seq.keys() ) - set(user_2_list_of_visits_seq.keys())))
print len(list(set(user_2_list_of_visits_seq.keys() ) - set(user_2_rec_seq.keys())))
print len(list(set(user_2_list_of_visits_seq.keys()).intersection(user_2_rec_seq.keys())))

True
True
True
False
786
658
7522

In [10]:
common_users = list(set(user_2_list_of_visits_seq.keys()).intersection(user_2_rec_seq.keys()))

In [12]:
"user8858" in common_users

False

In [13]:
user_2_list_of_visits_seq = {k: user_2_list_of_visits_seq[k] for k in common_users}
user_2_list_of_visits_single = {k: user_2_list_of_visits_single[k] for k in common_users}

user_2_rec_seq = {k: user_2_rec_seq[k] for k in common_users}
user_2_rec_seq_to_single = {k: user_2_rec_seq_to_single[k] for k in common_users}
user_2_rec_seq_to_single_list = {k: user_2_rec_seq_to_single_list[k] for k in common_users}

In [14]:
print user_2_list_of_visits_seq.keys() == user_2_list_of_visits_single.keys()
print user_2_rec_seq.keys() == user_2_rec_seq_to_single.keys()
print user_2_rec_seq.keys() == user_2_rec_seq_to_single_list.keys()
print user_2_rec_seq.keys() == user_2_list_of_visits_seq.keys()
print len(list(set(user_2_rec_seq.keys() ) - set(user_2_list_of_visits_seq.keys())))
print len(list(set(user_2_list_of_visits_seq.keys() ) - set(user_2_rec_seq.keys())))
print len(list(set(user_2_list_of_visits_seq.keys()).intersection(user_2_rec_seq.keys())))

True
True
True
True
0
0
7522

In [15]:
for user_id, vals in user_2_list_of_visits_seq.iteritems():
    print user_id, vals
    break
for user_id, vals in user_2_rec_seq.iteritems():
    print user_id, vals
    break

user1253 ['4133', '59223', '846', '9359', '42432', '49116_10061_672_63479', '4', '771', '12478']
user1253 ['13035', '35315_13133', '23241', '28678_32958_28678_12794_9302_9302', '36676', '10719_11198', '35511_2619_35792', '45391', '1567', '43727']

In [17]:
# y_true = user_2_list_of_visits_seq.values()
# y_pred = user_2_rec_seq.values()
# print y_true[0]
# print y_pred[0]
# print len(y_true[0])
# print len(y_pred[0])

# from sklearn.preprocessing import MultiLabelBinarizer
# y_true_binarized = MultiLabelBinarizer().fit_transform(y_true)
# y_pred_binarized = MultiLabelBinarizer().fit_transform(y_pred)
# print y_true_binarized[0]
# print y_pred_binarized[0]

# from sklearn.metrics import classification_report
# classification_report(y_true_binarized, y_pred_binarized)

In [18]:
def count_tp(y_true_single_user, y_pred_single_user):
    tp = 0
    for item in  y_pred_single_user:
        if item in y_true_single_user:
            tp = tp+1
    return tp

def find_tp_fp(true_rec, pred_rec, user_list):
    user_2_tp_and_fp = {}
    for user in user_list:
        y_true = user_2_list_of_visits_seq[user]
        y_pred = user_2_rec_seq[user]
        tp = count_tp(y_true, y_pred)
        
        fp = len(y_pred) - tp
        user_2_tp_and_fp[user] = (tp, fp)
    return user_2_tp_and_fp

In [19]:
user_2_tp_and_fp = find_tp_fp(user_2_list_of_visits_seq, user_2_rec_seq, common_users)
user_2_tp_and_fp_df = pd.DataFrame.from_dict(user_2_tp_and_fp, orient='index')
user_2_tp_and_fp_df = user_2_tp_and_fp_df.rename(columns={0:"tp", 1:"fp"})
user_2_tp_and_fp_df[user_2_tp_and_fp_df["tp"]>0]

          tp  fp
user5200   1   9
user4030   1   9
user4782   1   9
user246    1   9
user3350   1   9
user6003   1   9
user7602   1   9
user5937   1   9
user5931   1   9
user1487   1   9
user4303   1   9
user3221   1   9
user1671   1   9
user1507   1   9
user6629   1   9
user3575   1   9
user8144   1   9
user4129   1   9
user4383   1   9
user7534   1   9
user5300   1   9
user921    1   9
user4061   1   9
user4208   1   9
user85     1   9
user909    1   9
user3306   1   9
user4802   1   9
user7485   1   9
user2805   1   9
user769    2   8
user6693   1   9
user4199   1   9
user3256   1   9
user686    1   9
user660    1   9
user1512   1   9
user2055   1   9
user5075   1   9
user2005   1   9
user2043   1   9